<ion-view class="cadastro-fundo">

	<div class="logo">
		<img src="../../img/logo.png">
	</div>
	<div class="list cadastro">
	  <label class="item item-input">
	   <i class="icon ion-at"></i>
	   <input type="text" placeholder="E-mail">
	  </label>
	  <label class="item item-input">
	   <i class="icon ion-locked"></i>
	   <input type="password" placeholder="Senha">
	  </label>
	  <button class="button button-block button-logar" ng-click="logar()">Logar</button>
	  <button class="button button-block button-cadastar" ng-click="cadastar()">Cadastrar</button>
	  <a href="redefinirSenha">Esqueci minha senha</a>
	</div>
</ion-view>