<ion-view class="cadastro-fundo">

	<div class="logo">
	<!-- 	<h1>Sky<br>Shoes</h1> -->
	<img src="../../img/logo2.png">
	</div>
	<div class="list cadastro">
	  <label class="item item-input">
	   <i class="icon ion-person"></i>
	   <input type="text" id="teste" placeholder="E-mail">
	  </label>
	  <label class="item item-input">
	   <i class="icon ion-locked"></i>
	   <input type="password" placeholder="Senha">
	  </label>
	  <button class="button button-block button-logar" ng-click="logar()">Logar</button>
	  <button class="button button-block button-cadastar" ng-click="cadastrar()">Cadastrar</button>
	  <a href="">Esqueci minha senha</a>
	</div>
</ion-view>